<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>北京享游网络有限公司</title>
    <meta name="description" content="一款全新Unity3D打造的手机游戏，第一人称视角,全三D真实空间感受，带你缅怀少儿的回忆">
    <meta name="author" content="">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
</head>

<body>


<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html">北京享游网络</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="index.html"> 产品介绍</a></li>
              <li class="active"><a href="about.html">关于我们</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


<div class="container">

 <div class="hero-unit">
        <img src="http://epaper.tianjinwe.com/cskb/images/1/82/2010-02/03/12/res01_attpic_brief.jpg" height="263px" width="320px" align="right" />
        <h3>我们的方向：</h3>
        <p>开发让用户喜爱的3D游戏作品，打造完整的3D手游生态</p>
        <h3>我们的产品:</h3>
        <p>已上线《厕所战争》另有相关3D游戏作品同步开发中。</p>
        <h3>我们的团队：</h3>
        <p>一群执着游戏开发、多年从业经验的极客青年</p>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2>招贤纳士</h2>
          <p>
            只要一份实现自我的心，只要你对休闲游戏感兴趣，只要你想和一群有信仰的人一起做事，同时具有相关UNITY3D开发经验，请直接放马杀过来！
          </p>
        </div>
        <div class="span6">
          <h2>联系方式</h2>
          <p>Q  Q：359535047</p>
          <p>Email：xiangyouwangluo@126.com</p>
          <p>手机：15910535038 尚</p>
        </div>
      </div>
<!--end hero-unit-->


<hr>

<footer>
        <center><p>&copy; 北京享游网络有限公司 2012</p></center>
</footer>

</div>
<!--end container-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.min.js"></script>
</body>
</html>

