<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="L4PAsdSXCO9SL1xF" />
    <meta property="wb:webmaster" content="4282bf42474f150a" />
    <title>北京享游网络有限公司--上线产品厕所战争</title>
    <meta name="keywords" content="厕所战争,享游网络,3D手机游戏,IOS3D游戏" />
    <meta name="description" content="一款全新Unity3D打造的手机游戏，第一人称视角,全三D真实空间感受，带你缅怀少儿的回忆">
    <meta name="author" content="">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
</head>

<body>


<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">北京享游网络</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#"> 产品介绍</a></li>
              <li><a href="about.html">关于我们</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


<div class="container">

<div class="hero-unit">
    <div class="row">
        <div class="span3">
        <img src="http://resource.weiphone.com/resource/h017/h73/img201206210105440.jpg"  align="left" />
        </div>
        
        <div class="span5 offset2">
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;《厕所战争》</h2>
        <h3>一发布就得到大家一致好评</h3>
        <h3>★中国免费游戏榜排行前十</h3>
        <h3>★中国区免费总榜22名</h3>
        <h3>★数十家论坛媒体精品推荐</h3>
        <p>
            <a class="btn btn-primary btn-large" href="https://itunes.apple.com/cn/app/ce-suo-zhan-zheng-hd/id536836084?mt=8" target="_blank">下载游戏 &raquo;</a>
            <a class="btn btn-primary btn-large" href="http://v.youku.com/v_show/id_XNDEyNzkzNDky.html" target="_blank">游戏视频 &raquo;</a>
            
        </p>
        </div>
    </div>
</div>
<!--end hero-unit-->


<hr>

<footer>
        <center><p>&copy; 北京享游网络有限公司 2012</p></center>
</footer>

</div>
<!--end container-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.min.js"></script>
    <!-- Baidu Button BEGIN -->
    <script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=0&amp;pos=right&amp;uid=3087060" ></script>
    <script type="text/javascript" id="bdshell_js"></script>
    <script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
    </script>
    <!-- Baidu Button END -->
</body>
</html>


